/* || General */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap");
@font-face {
    font-family: 'Blanke';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/dkCarteBlanche.otf) format("opentype");
}
:root {
    --darkBlue:rgb(36, 52, 71);
    --lightGray: rgb(249, 249, 249);
    --softCyan: rgb(102, 252, 241);

    --pink: rgb(255, 0, 170);
    --blue: rgb(0, 170, 255);
    --violet: rgb(170, 0, 255);

    --darkBlueAlpha: rgba(36, 52, 71, 0.7);
    --pinkAlpha: rgb(255, 0, 170, 0.2);
    --blueAlpha: rgb(0, 170, 255, 0.2);
    --violetAlpha: rgb(170, 0, 255, 0.2);

    --gradientAlpha: linear-gradient(var(--pinkAlpha), var(--blueAlpha));
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 1.15;
    margin: 0;
    padding: 0;
    background-color: var(--darkBlue);
    color: var(--lightGray);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
.wrapper {
    display: grid;
    grid-auto-rows: minmax(5rem, auto);
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
}
section, header {
    width: 100%;
}
#about, #contact {
    background: var(--gradientAlpha);
}
#projects {
    background-color: var(--blueAlpha);
}

/* || Header & .mainNav */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--darkBlueAlpha);
    color: inherit;
}
.mainNav {
    grid-row: span 1;
    grid-column: 1 / -1;
    margin-left: -1rem;
    margin-right: -1rem;
}
.mainNav ul, .mainNav .navLink {
    height: 100%;
}
.mainNav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    position: relative;
}
.navLink {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 0.125rem solid transparent;
}
.navLink:hover {
    border-bottom: 0.125rem solid var(--softCyan);
}
.navLink.logo, .navLink.logo:hover {
    border-bottom: none;
}
.navLink.logo {
    font-family: "Blanke";
    font-size: 2rem;
    color: var(--softCyan);
    position: absolute;
    left: 0;
}
.navLink.logo:hover {
    text-decoration-line: underline;
    text-decoration-color: var(--softCyan);
    text-decoration-style: wavy;
    text-decoration-thickness: 0.125rem;
}

/* About Section */

.welcome {
    grid-row: span 8;
    grid-column: 1 / -1;
    font-family: "Blanke";
    color: var(--lightGray);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
#about {
    position: relative;
}
#about::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/desk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.welcome h1 {
    font-size: 5rem;
}
.welcome h2 {
    font-size: 1.5rem;
}
.welcome p {
    font-size: 3rem;
}

/* || Projects Section */

#projects {
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: var(--lightGray);
}
#projects h3 {
    grid-row: span 1;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.projectTile {
    grid-row: span 6;
    grid-column: span 4;
}
.gradientBorder {
    position: relative;
    background: linear-gradient(15deg, var(--pink), var(--blue), var(--violet));
    padding: 3px;
}
.pen {
    width: 100%;
    height: 100%;
    background-color: var(--darkBlue);
}
.penTitle, .profileLink {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 5rem;
    text-align: center;
}
.profileLink {
    grid-row: span 1;
    grid-column: 1 / -1;
    font-size: 1.2rem;
    background-color: var(--darkBlue);
    margin: 4rem auto 0;
    padding: 0 3rem;
    border-left: 0.5rem solid var(--softCyan);
    position: relative;
}
.profileLink span {
    color: var(--softCyan);
}
.profileLink i {
    display: none;
}
.profileLink:hover i {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1rem;
    color: var(--softCyan);
}
.projectTile span {
    color: transparent;
}
.projectTile:hover span {
    color: var(--softCyan);
}
.cp_embed_wrapper {
    height: calc(100% - 5rem);
}
.embedHeight {
    height: 100%;
}

/* || Contact Section */

#contact {
    position: relative;
    overflow: hidden;
}
#contact::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/nature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transform: scale(1, 1);
    transition: transform 0.7s;
}
#contact:hover::before {
    transform: scale(1.1, 1.1);
}
:is(.social) :is(h1, h2, h3) {
    color: var(--softCyan);
}
:is(.social) :is(h3, p) {
    font-size: 1.5rem;
}
.social {
    grid-row: span 8;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social hr {
    color: var(--lightGray);
    width: 7rem;
}
.social ul {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 1.5rem;
}
.social a {
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    border: 0.0625rem solid var(--lightGray);
    border-radius: 50%;
}
.social a:hover {
    color: var(--softCyan);
}

/* || media Queries */

@media screen and (min-width: 48rem) {
    .wrapper {
        grid-template-columns: repeat(8, 1fr);
    }
    .first.projectTile {
        grid-row: 3 / 9;
    }
    .second.projectTile {
        grid-row: 2 / 8;
    }
    .third.projectTile {
        grid-row: 9 / 15;
    }
    .fourth.projectTile {
        grid-row: 8 / 14;
    }
}

@media screen and (min-width: 75rem) {
    .wrapper {
        grid-template-columns: repeat(12, 1fr);
    }
    .first.projectTile {
        grid-row: 2 / 9;
        grid-column: 1 / 5;
    }
    .second.projectTile {
        grid-row: 2 / 6;
        grid-column: 5 / 9;
    }
    .third.projectTile {
        grid-row: 2 / 9;
        grid-column: 9 / 13;
    }
    .fourth.projectTile {
        grid-row: 6 / 11;
        grid-column: 5 / 9;
    }
}