@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap");
:root {
  --darkBlue: #243447;
  --darkBlueAlpha: rgba(36, 52, 71, 0.7);
  --softCyan: #66fcf1;
  --lightGray: #e6e7ee;

  --pinkAlpha: rgba(255, 0, 170, 0.2);
  --blueAlpha: rgba(0, 170, 255, 0.2);
  --violetAlpha: rgba(170, 0, 255, 0.2);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.15;
  margin: 0;
  padding: 0;
  background-color: var(--darkBlue);
  color: var(--lightGray);
}
h1 {
    color: var(--softCyan);
}
h1, h2, h3 {
  font-weight: 300;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

section {
  min-height: 100vh;
  position: relative;
  background-color: var(--darkBlueAlpha);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.125rem;
}
section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(https://picsum.photos/id/1044/4032/2268.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  transform: scale(1, 1);
  transition: transform 0.7s;
}
section:hover::before {
  transform: scale(1.2, 1.2);
}
.comingSoon {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--pinkAlpha), var(--blueAlpha), var(--violetAlpha));
}
.comingSoon hr {
    color: darkorange;
    width: 40%;
}
section ul {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}
section a {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 1rem;
  border: 0.0625rem solid var(--lightGray);
  border-radius: 50%;
}
section a:hover {
  color: var(--softCyan);
}